* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0a0a0a;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #111;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

header h1 {
  color: #00adb5;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #00adb5;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

input,
button {
  padding: 10px;
  width: 250px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00adb5;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #007b83;
}

footer {
  background: #111;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
